 *{
    margin: 0;
    padding: 0;
 }
 nav{
    background-color: black;
    color: aliceblue;
    text-align: center;
    
 }
 .col{
    font-size: 70px;
    color: chartreuse;
 }
 
 .container{
        display:flex;
        gap: 20px;
        margin-top: 100px;
        margin-left: 300px;
         text-align: center;

    }
    .one{
        width: 200px;
        background-color: black;
        color: aliceblue;
        padding: 2px;
        display:inline-block;
   
    }
    .two{
        width: 200px;
        background-color: black;
        color: aliceblue;
        padding: 2px;
          display:inline-block;
    }
    .three{
        width: 200px;
        background-color: black;
        color: aliceblue;
        padding: 2px;
          display:inline-block;
    }
    .four{
        width: 200px;
        background-color: black;
        color: aliceblue;
        padding: 2px;
          display:inline-block;
    }
.button{
    background-color: transparent;
    border: none;
    border: lawngreen 2px solid;
    color: beige;

}
.button:hover{
    color: black;
    background-color: aqua;

}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
   
}

form {
    text-align: center;
}

table {
    margin: auto;
}

input {
    padding: 8px;
    margin: 5px 0;
}

.vv{
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
        width: 400px;
}

button:hover {
    background-color: orange;

}
