div {
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: colorchange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes colorchange {
  0%   {background-color: red;
        margin-left: 0px;
        margin-top: 0px;}
  25%  {background-color: yellow;
        margin-left: 0px;
        margin-top: 200px;}
  50%  {background-color: blue;
margin-left: 200px;
        margin-top: 200px;}
  75%  {background-color: green;
margin-left: 200px;
        margin-top: 0px;}
  100% {background-color: rgb(238, 0, 255);}
}