@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #f1f1f1;
    --text: #333;
    --white: #fff;

    --active: #ff6600;
    --active-dark: #bb4b00;
    --normal: #555;
}
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    color:var(--white);
    position: relative;
    top: 0;
    left: 0;
}
body{
    background-color: var(--bg-color);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color:black;
}

header a:hover{
    color: aqua;
}
.logo{
    cursor: pointer;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(250, 143, 3);
    font-weight: bold;
  text-shadow: 2px 1px 4px #fefefe;
    
}
.imput{
padding: 3px;
 font-size: 18px;

}

.nav-links{
    list-style: none;

}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav-links li a{
    transition: 0.3s;
    font-size: 18px;
}
.nav-links li a.active {
    color: #ff6600;
}
.nav-links li a:hover {
    color:darkturquoise 
}

.action{
    padding: 9px 25px;
    background-color: chartreuse;
    border-radius: 50px;
}

.action:hover{
    color: #333;
}
.Sale {
     display: flex;
flex-direction: column;
  text-shadow: 2px 3px 4px #000000;
    padding: 15px 37.5%;
    background-color: rgb(190, 177, 177);
    border-radius: none;
    justify-content: center; 
    align-items: center;
    
}
.Sale p{
    color: #000000;
    text-shadow: 2px 3px 4px #a8a3a3;
}
.note{
     color: #000000;
      align-items: center;
      font-style:inherit;
    text-shadow: 2px 3px 4px #000000;

}
.box{
    display: flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    align-items: center;
    justify-content: center;
} 
.featureCard{
    width: 300px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 12px 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.featureCard img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;
    display: block;
}
.featureCard p{
    font-size: 30px; 
    text-shadow: 2px 1px 4px #a9a3a3;

}
button {
    margin-top: 10px;
    padding: 8px 15px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}
button:hover {
    background: #7a3434;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    text-shadow: 2px 1px 4px #a9a3a3;
}


