*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 80px;
    position: sticky;
    top: 0;
    background:white;
     z-index:100;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:#00aa6c;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:40px;
    font-weight:500;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.signin{
    background:#00aa6c;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:25px;
    font-weight:600;
    cursor:pointer;
}
.signin:hover{
    background:#0fe5c5;
}
    
.hero{
    text-align:center;
    margin-top:80px;
}

.hero h1{
    font-size:70px;
    font-weight:700;
    color:#002b11;
}

.tabs{
    margin-top:30px;
    display:flex;
    justify-content:center;
    gap:40px;
    font-weight:600;
    
}

.tabs p{
    padding:10px;
    background:rgb(231, 243, 103);
    border-radius: 40px;
}
.tabs p:hover{
    border:3px solid #00aa6c;
    border-radius: 30px;
    padding: 10px;
}
.search-box{
    margin:40px auto;
    width:650px;
    background:white;
    border-radius:40px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.15);
}

.search-box input{
    border:none;
    outline:none;
    padding:15px 20px;
    font-size:16px;
    width:100%;
    border-radius:40px;
}

.search-box button{
    background:#00aa6c;
    color:white;
    border:none;
    padding:14px 28px;
    border-radius:30px;
    font-weight:600;
    cursor:pointer;
}
.search-box button:hover{
    background:#0fe5c5;
    transition:all 0.3s ease-in-out;
}

.promo{
    margin-top:60px;
    display:flex;
    justify-content:center;
}
.promo__container{ 
    display:flex;
    gap:40px;
    align-items:center;
    width:80%;
    background:#00e0a0;
    padding:40px;
    border-radius:15px;
}

.promo__img img{
    width:400px;
    border-radius:20px;
}
.promo__content{
    color:white;
    max-width:500px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.promo__content h1{
    font-size:36px;
    margin-bottom:20px;
}
.promo__content p{
    font-size:18px;
    line-height:1.5;
    text-shadow: black 0.1em 0.1em 0.2em;
    color: black;
}
.promo__content button{
    margin-top:20px;
    background:#040404;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:30px;
    font-weight:600;
    cursor:pointer;
}
.promo__content button:hover{
    background:#e52f0f;
    transition:all 0.3s ease-in-out;
}
.interest{
     width:80%;
    margin:60px auto;
}
.interest h2{
       font-size:28px;
    font-weight:700;
    color: #002b11;

}
.interest p{
   margin:10px 0 30px;
    color:rgb(0, 0, 0);
}
.interest__container{
    display:grid;
    height: auto;
    gap:30px;
    justify-content:space-between;
    grid-template-columns: repeat(4, 1fr);
}
.interest__card{
    position:relative;
    overflow:hidden;
    border-radius:15px;
    cursor:pointer;

}
.interest__card img{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
    transition:0.4s;
}
.interest__card h3{
    position:absolute;
    bottom:20px;
    left:20px;
    color:white;
    font-size:24px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.near{
    padding: 10px;
        width:80%;
    margin:60px auto;
}
.near h2{
    font-size:28px;
    font-weight:700;
    color: #002b11;
    margin-bottom:10px;
}
.near p{
    color:rgb(0, 0, 0);
    margin-bottom:30px;
}
.near__container{
    display:flex;
    gap:30px;
    overflow-x:auto; 
    padding-bottom:10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    scroll-behavior:smooth;
    scrollbar-width:none;
    -ms-overflow-style:none;
}
.near__container::-webkit-scrollbar{
    display:none;
}
.near__card{

     min-width:260px;  
    flex-shrink:0;    
    background:white;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    padding:10px;
}
.near__card img{
    width:100%;
    height:160px;
    object-fit:cover;
    border-radius:10px;
}
.promo2{
    margin-top:60px;
    display:flex;
    justify-content:center;
}
.promo2__container{ 
    display:flex;
    gap:40px;
    align-items:center;
    width:80%;
    padding:40px;
    border-radius:15px;
}

.promo2__img img{
    width:400px;
    border-radius:20px;
}
.promo2__content{
    color: #01421b;
    max-width:500px;
    text-shadow: rgb(55, 54, 54) 0.1em 0.1em 0.2em;
}
.promo2__content h1{
    font-size:36px;
    margin-bottom:20px;
      margin-left: 50px;
}
.promo2__content p{
    font-size:18px;
    line-height:1.5;
    color: rgb(23, 23, 23);
    margin-left: 50px;
}
.promo2__content button{
    margin-top:20px;
    background:#040404;
    color:white;
    border:none;
    padding:12px 24px;
    border-radius:30px;
    font-weight:600;
    cursor:pointer;
    margin-left: 50px;
}
.promo2__content button:hover{
    background:#e52f0f;
    transition:all 0.3s ease-in-out;
}

.whale{
    padding: 10px;
        width:80%;
    margin:60px auto;
}
.whale h2{
    font-size:28px;
    font-weight:700;
    color: #002b11;
    margin-bottom:20px;
}
.whale p{
    color:rgb(0, 0, 0);
    margin-bottom:30px;
}
.whale__container{
    display:flex;
    gap:30px;
    overflow-x:auto; 
    padding-bottom:10px;
    box-shadow:0 4px 15px rgba(0,0,0,0.1);
    scroll-behavior:smooth;
    scrollbar-width:none;
    -ms-overflow-style:none;
}
.whale__container::-webkit-scrollbar{
    display:none;
}
.whale__card{

     min-width:260px;  
    flex-shrink:0;    
    background:white;
    border-radius:15px;
    box-shadow:0 2px 10px rgba(0,0,0,0.1);
    padding:10px;
}
.whale__card img{
    width:100%;
    height:160px;
    object-fit:cover;
    border-radius:10px;
}
.iconic{
   padding: 10px;
        width:80%;
    margin:60px auto;
}
.iconic h4{
       font-size:28px;
    font-weight:700;
    color: #01471d;


}
.iconic__container{
   display:flex;
    gap:30px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 10px 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
   scrollbar-width: none;
    -ms-overflow-style: none;

}
.iconic__container .iconic__card{
    min-width: 260px;
    flex: 0 0 auto;
}
.iconic__container::-webkit-scrollbar{
    display: none;
}
.iconic__card{
    position:relative;
    overflow:hidden;
    border-radius:15px;
    cursor:pointer;
}
.iconic__card img{
    width:100%;
    height:200px;
    object-fit:cover;
    display:block;
    transition:0.4s;
}
.iconic__card h3{
    position:absolute;
    bottom:20px;
    left:20px;
    color:white;
    font-size:24px;
    text-shadow: black 0.1em 0.1em 0.2em;
}
.promo3{
    margin-top:60px;
     background: #003b1f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
    overflow: hidden;
}
.promo3__left{
    width:50%;
}
.promo3__left h1{
   font-size: 60px;
    margin: 20px 0;
}
.promo3__left p{
    width: 80%;
    margin-bottom: 30px;
}

.promo3__left button{
    padding: 15px 25px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
}
.promo3__left button:hover{
    background: #e52f0f;
    transition: all 0.3s ease-in-out;
}
/* RIGHT SIDE */
.promo3__right{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
}
.promo3__right img{
    width: 380px;
    height: 400px;
    object-fit: cover;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    position: relative;
    z-index: 2;
}

.circle{
    position: absolute;
    border-radius: 50%;
    z-index: 1;
}

.yellow{
    width: 250px;
    height: 250px;
    background: #ffe600;
    top: -40px;
    left: 40px;
}

.green{
    width: 220px;
    height: 220px;
    background: #00e05a;
    bottom: -30px;
    right: 40px;
}

/*footer*/
.footer{
    background:#f2f2f2;
    padding:40px 60px;
    font-family: sans-serif;
    color:#1c1c1c;
}

/* TOP GRID */
.footer__top{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:40px;
    margin-bottom:40px;
}

.col h4{
    margin-bottom:12px;
}

.col p{
    margin:6px 0;
    font-size:14px;
    cursor:pointer;
}

.col p:hover{
    text-decoration: underline;
}

/* BOTTOM */
.footer__bottom{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:20px;
}

/* LEFT LEGAL */
.footer__legal p{
    margin:10px 0;
}

.links{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    font-size:14px;
}

/* RIGHT SIDE */
.footer__right{
    display:flex;
    align-items:center;
    gap:15px;
    flex-wrap:wrap;

}

/* SOCIAL */
.social i{
    font-size:18px;
    margin:0 6px;
    cursor:pointer;
}

/* ================= MOBILE ================= */
@media (max-width:768px){

/* NAVBAR */
.navbar{
    padding:15px 20px;
}

.nav-links{
    display:none; /* hide menu */
}

.logo{
    font-size:22px;
}

/* HERO */
.hero h1{
    font-size:38px;
}

.tabs{
    gap:10px;
    flex-wrap:wrap;
}

.tabs p{
    font-size:14px;
}

/* SEARCH */
.search-box{
    width:90%;
    flex-direction:column;
    gap:10px;
    padding:15px;
}

.search-box button{
    width:100%;
}

/* PROMO */
.promo__container{
    flex-direction:column;
    text-align:center;
    width:90%;
}

.promo__img img{
    width:100%;
}

/* INTEREST GRID */
.interest__container{
    grid-template-columns:repeat(2,1fr);
}

/* NEAR CARDS */
.near__container{
    padding-left:10px;
}

/* PROMO2 */
.promo2__container{
    flex-direction:column;
    text-align:center;
    width:90%;
}

.promo2__img img{
    width:100%;
}

.promo2__content h1,
.promo2__content p,
.promo2__content button{
    margin-left:0;
}

/* PROMO3 */
.promo3{
    flex-direction:column;
    padding:40px 20px;
    text-align:center;
}

.promo3__left,
.promo3__right{
    width:100%;
}

.promo3__left h1{
    font-size:32px;
}

.promo3__right img{
    width:260px;
    height:280px;
    margin-top:30px;
}

/* FOOTER */
.footer__top{
    grid-template-columns:1fr 1fr;
}

.footer__bottom{
    flex-direction:column;
    align-items:center;
    text-align:center;
}

}

/* ================= TABLET ================= */
@media (min-width:769px) and (max-width:1024px){

.hero h1{
    font-size:52px;
}

/* SEARCH */
.search-box{
    width:90%;
}

/* PROMO */
.promo__container{
    width:95%;
}

.promo__img img{
    width:300px;
}

/* GRID */
.interest__container{
    grid-template-columns:repeat(3,1fr);
}

/* PROMO2 */
.promo2__container{
    width:95%;
}

.promo2__img img{
    width:300px;
}

/* PROMO3 */
.promo3__left h1{
    font-size:44px;
}

/* FOOTER */
.footer__top{
    grid-template-columns:repeat(2,1fr);
}

}