@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    background-color:rgb(246, 248, 119);
}
header{
    display: flex;
    justify-content: left;
    color: bisque;
    padding: 20px 3%;
    background-color:black;
    font-size: 30px;
}
label
{
    font-size: 20px;
    color: black;
}
h1 {
  border: 2px solid #000;
  background-color: #f5a959;
}

h2
 {
   text-decoration: underline;
}


footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 20px;
}

